@keyframes opacity {
    0% { opacity: .2;}
    50% {opacity: 1;}
    100% {opacity: .2;}
}

body {
    padding :0px;
    margin: 0px;
}

.main_div {
    height: 100vh;
}


.logo_img{
    animation-name: opacity;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

