:root {
    --borderColor : #FFFFFF;
}



::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: var(--borderColor);
    opacity: .5; /* Firefox */
  }


.input_container{
    width: 100%;
    border-radius: 4px;
    border: 0.25px solid var(--borderColor);
    padding: 10px;
    margin-top: 20px;
}


.input{
    border: none;
    outline: none;
    background-color: transparent;
    color: var(--borderColor);
    width: 100%;
}


.input-field-container{
    margin-top: -10px;
}

