body {
    margin: 0px;
    padding : 0px
}

.header-main{
    width: 100%;

    padding: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.icon-container{
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    background-color: rgb(141, 39, 49);
    box-sizing: border-box;
    box-shadow: rgb(0 0 0 / 15%) 2px 2px 5px;
    cursor: pointer;
}

.icon-container-disable{
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    box-sizing: border-box;
    cursor: pointer;
}

.heading{
    margin : 0px;
    color: white;
    font-size: 20px;
    padding : 0px;

font-weight: 700;
font-size: 16px;
line-height: 22px;
/* width: 150%; */


/* or 110% */

}

.title{
    font-size: 14px !important;
    margin : 0px;
    color: white;
    font-size: 20px;
font-weight: 700;
line-height: 22px;
}




