.header-main{
    width: 100%;
    padding: 12px;
}

.icon-container{
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    background-color: rgb(141, 39, 49);
    box-sizing: border-box;
    box-shadow: rgb(0 0 0 / 15%) 2px 2px 5px;
}




